
devkits/DE10_LITE_Golden_Top/qar_info.json
devkits/DE10_LITE_Golden_Top/filelist.txt
devkits/DE10_LITE_Golden_Top/platform_setup.tcl
devkits/DE10_LITE_Golden_Top/DE10_LITE_Golden_Top.v
db/top_level.db_info
db/enel453lab2.quiproj.17596.rdr.flock
db/.cmp.kpt
db/enel453lab2.map_bb.logdb
db/enel453lab2.smp_dump.txt
db/top_level.(0).cnf.cdb
db/top_level.(0).cnf.hdb
db/top_level.(1).cnf.cdb
db/top_level.(1).cnf.hdb
db/top_level.(2).cnf.cdb
db/top_level.(2).cnf.hdb
db/top_level.(3).cnf.cdb
db/top_level.(3).cnf.hdb
db/top_level.(4).cnf.cdb
db/top_level.(4).cnf.hdb
db/top_level.asm.qmsg
db/top_level.asm.rdb
db/top_level.asm_labs.ddb
db/top_level.cbx.xml
db/top_level.cmp.bpm
db/top_level.cmp.cdb
db/top_level.cmp.hdb
db/top_level.cmp.idb
db/top_level.cmp.logdb
db/top_level.cmp.rdb
db/top_level.cmp_merge.kpt
db/top_level.fit.qmsg
db/top_level.hier_info
db/top_level.hif
db/top_level.lpc.html
db/top_level.lpc.rdb
db/top_level.lpc.txt
db/top_level.map.ammdb
db/top_level.map.bpm
db/top_level.map.cdb
db/top_level.map.hdb
db/top_level.map.kpt
db/top_level.map.qmsg
db/top_level.map_bb.cdb
db/top_level.map.rdb
db/top_level.map_bb.hdb
db/top_level.npp.qmsg
db/top_level.pre_map.hdb
db/top_level.root_partition.map.reg_db.cdb
db/top_level.routing.rdb
db/top_level.rtlv.hdb
db/top_level.rtlv_sg_swap.cdb
db/top_level.rtlv_sg.cdb
db/top_level.sgate.nvd
db/top_level.sgate_sm.nvd
db/top_level.sld_design_entry.sci
db/top_level.sld_design_entry_dsc.sci
db/top_level.smart_action.txt
db/top_level.sta.rdb
db/top_level.sta.qmsg
incremental_db/compiled_partitions/top_level.root_partition.cmp.logdb
db/prev_cmp_enel453lab2.qmsg
db/top_level.(5).cnf.cdb
db/top_level.sta_cmp.6_slow_1200mv_85c.tdb
db/top_level.(5).cnf.hdb
db/top_level.tis_db_list.ddb
db/top_level.tiscmp.fast_1200mv_0c.ddb
db/top_level.tiscmp.slow_1200mv_0c.ddb
db/top_level.tiscmp.slow_1200mv_85c.ddb
db/top_level.tmw_info
db/top_level.vpr.ammdb
db/top_level.zippleback_io_sim_cache.ff_0c_fast.hsd
db/top_level.zippleback_io_sim_cache.tt_0c_slow.hsd
db/top_level.zippleback_io_sim_cache.tt_85c_slow.hsd
db/top_level_partition_pins.json
incremental_db/compiled_partitions/top_level.db_info
incremental_db/compiled_partitions/top_level.root_partition.cmp.ammdb
incremental_db/compiled_partitions/top_level.root_partition.cmp.cdb
incremental_db/compiled_partitions/top_level.root_partition.cmp.dfp
incremental_db/compiled_partitions/top_level.root_partition.cmp.hdb
incremental_db/compiled_partitions/top_level.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/top_level.root_partition.map.cdb
incremental_db/compiled_partitions/top_level.root_partition.map.dpi
incremental_db/compiled_partitions/top_level.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/top_level.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/top_level.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/top_level.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/top_level.root_partition.map.hdb
incremental_db/compiled_partitions/top_level.root_partition.map.kpt
incremental_db/compiled_partitions/top_level.rrp.hdb
output_files/top_level.asm.rpt
output_files/top_level.done
output_files/top_level.fit.rpt
output_files/top_level.fit.smsg
output_files/top_level.fit.summary
output_files/top_level.flow.rpt
output_files/top_level.jdi
output_files/top_level.map.rpt
output_files/top_level.map.summary
output_files/top_level.pin
output_files/top_level.pof
output_files/top_level.sld
output_files/top_level.sof
output_files/top_level.sta.rpt
output_files/top_level.sta.summary
reg0.vhd.bak
synchronizer.vhd.bak
top_level.vhd.bak
top_level.qws
